SECRET_KEY=change-me-generate-a-new-random-value
DEBUG=False
ALLOWED_HOSTS=api-parc.numerix.digital

DB_NAME=gestion_parc_informatique
DB_USER=parc_app
DB_PASSWORD=change-me
DB_HOST=127.0.0.1
DB_PORT=3306

CORS_ALLOWED_ORIGINS=https://votre-front.numerix.digital

QR_SCAN_BASE_URL=https://api-parc.numerix.digital
